services:
  fontend:
      build: ./xbox
      ports:
        - "3001:80"
      restart: unless-stopped
      healthcheck:
        test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://127.0.0.1:8080/"]
        interval: 30s
        timeout: 10s
        retries: 3
        start_period: 40s